/* =================================
Default Theme - Technoprenuer Glossary
------------------------------
Fonts: 
Georgia 400,500,700,800 
Helvetica 300,300i,400,400i,700
Trebuchet MS 300,300i,400,400i,700
------------------------------
Colours: 
	Brunswick Green: #255544
	/      rgba(37, 85, 68, 1)
    
	Mint Green:       #d4ede4
	/    rgba(212, 237, 228, 1)

    White:              #fff
	/    rgba(255, 255, 255, 1)

================================= */